body {
  color: white;
  background-color: black;
  font-family: "Times New Roman", serif;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  background-color: #556072;
  color: white;
  padding: 5px;
}

.top {
  background-color: #949eac;
  padding: 33px;
}
  
.logo {
  margin-top: -25px;
  width: 85px;
  height: 85px;
  float: left;
  background-color: white;
  border-radius: 50%;
}

.icons {
  text-align: right;
  margin-top: 5px;
}

.icon {
  display: inline-block;
}

.icon img {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.page {
  position: absolute;
  margin-left: 110px;
  width: 440px;
  height: 40px;
  background: transparent;
  font-size: 0;
}

.page a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  font-weight: bold;
}

.page a.active::after {
  width: 100%; 
}

.page a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #556072; 
  transition: width 0.5s ease; 
}

.page a:hover::after {
  width: 100%; 
}
  
footer {
  background-color: #556072;
  color: white;
  padding: 5px;
}

h1 {
  text-align: left;
  margin-left: 50px;
}

h2 {
  background-color:white;
  color:#556072;
  width: 85%;
  padding: 20px;
  font-weight: bold;
}

h3 {
  background-color: white;
  color: #556072;
  padding: 15px;
}

h4 {
  background-color: white;
  color: #556072;
  padding: 15px;
}

img {
  width: 94%;
  height: auto;
}

p {
  margin-left: 30px;
  margin-right: 30px;
}

.container1 {
  background-color: #939EAC ;
  width: 50%;
  border-radius: 8px;
}

.container2 {
  background-color: #556072;
  width: 90%;
}

.container3 {
  background-color: #939EAC;
  width: 95%;
}

.container4 {
  background-color: white;
  width: 91%;
  padding: 15px;
}

.container4 a {
  color: #556072;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  font-weight: bold;
}

table {
  background-color: #939eac;
  max-width: 96%;
  color: white;
  border-collapse: collapse;
}

th {
  border: 10px solid #556072;
  padding: 10px;
}

td p {
  text-align: center;
  font-weight: bold;
}

td a {
  display: inline-block;
  text-align: center;
  color: white;
  font-weight: bold;
}

td {
  border: 10px solid #556072;
  text-align: left;
  padding: 10px;
}

.outer-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 88%;
  padding: 10px;
}

.inner-container {
  background-color: #939EAC;
  padding: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 17px;
  margin-top: 17px;
  height: auto;
  width: 15%;
  font-size: 50%;
  border: solid 20px #556072;
}

.inner-container .container2 {
  background-color: #939eac ;
}

.hidden-content {
  display: none;
  background-color: #939EAC;
  width: 50%;
  border-radius: 8px;
}

.hidden-content:target {
  display: block;
}

.hidden-content:target ~ .container1 {
  display: none;
}

#orderform .container3 {
  text-align: left;
}
  
#orderform p {
  font-weight: bold;
}
  
#pens a,
#pencilcases a,
#notebooks a,
#planners a,
#binders a,
#bookmarks a,
#stickynotes a,
#stickynoteholders a,
#folders a,
#deskorganizers a,
#flashdrives a,
#laptopsleeves a,
#waterbottles a {
  color: #556072;
  font-weight: bold;
  text-decoration: none;
}
  
.log {
  width: 20%;
  border-radius: 50%;
}

.owner {
  font-family: cursive;
  font-size: 8px;
  text-align: right;
  font-weight: bold;
}
